<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <!-- <span *ngIf="deliverable.id">{{"EditDeliverable" | localize}}</span> -->
                        <span *ngIf="deliverable.id">Edit Initiative</span>
                        <!-- <span *ngIf="!deliverable.id">{{"CreateNewDeliverable" | localize}}</span> -->
                        <span *ngIf="!deliverable.id">New Initiative</span>
                        <!-- <span>{{"Mda" | localize}}: {{mdaName}}</span> -->
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="deliverableDisplayName">{{"Name" | localize}} *</label>
                        <input id="deliverableDisplayName" #deliverableDisplayName="ngModel" class="form-control"
                            type="text" name="displayName" [ngClass]="{'edited': deliverable.displayName}"
                            [(ngModel)]="deliverable.displayName" required maxlength="128">
                        <validation-messages [formCtrl]="deliverableDisplayName"></validation-messages>
                    </div>

                    <!-- <div class="form-group row">
                        <label for="SingleSelectInput" class="col-lg-12">Opportunity Area</label>
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <p-autoComplete [(ngModel)]="priorityArea" id="SingleSelectInput"
                                [suggestions]="filteredPriorityAreas" (completeMethod)="filterPriorityArea($event)"
                                field="name" placeholder="Opportunity Area" [minLength]="1" name="PriorityArea"
                                inputStyleClass="form-control" (onSelect)="selectPriorityArea($event)"
                                styleClass="width-percent-100">
                            </p-autoComplete>
                        </div>
                    </div> -->

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="opportArea" class="col-lg-12">Opportunity Area</label>
                        <select required class="form-control" [(ngModel)]="deliverable.priorityAreaId"
                            name="PriorityArea" id="opportArea">
                            <option [ngValue]="">Select Opportunity Area</option>
                            <option *ngFor="let opportunityArea of opportunityAreas"
                                [ngValue]="opportunityArea.priorityArea.id">
                                {{opportunityArea.priorityArea.name}}</option>
                        </select>
                    </div>


                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="deliverableDescription">{{"Description" | localize}} *</label>
                        <textarea id="deliverableDescription" class="form-control" name="deliverableDescription"
                            [(ngModel)]="deliverable.description" rows="5"></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="primaryInitiativeOwner">Primary Initiative Owner</label>
                            <!-- <input id="primaryInitiativeOwner" class="form-control" name="primaryInitiativeOwner"
                                [(ngModel)]="deliverable.primaryInitiativeOwner" /> -->
                            <select required class="form-control" [(ngModel)]="deliverable.primaryInitiativeOwner"
                                name="primaryInitiativeOwner" id="primaryInitiativeOwner">
                                <option [ngValue]="">Select a Primary Initiative Owner</option>
                                <option *ngFor="let pryInitiativeOwner of pryInitiativeOwners"
                                    [ngValue]="pryInitiativeOwner.emailAddress">
                                    {{pryInitiativeOwner.name}} {{pryInitiativeOwner.surname}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="secondaryInitiativeOwner">Secondary Initiative Owner</label>
                            <!-- <input id="secondaryInitiativeOwner" class="form-control" name="secondaryInitiativeOwner"
                                [(ngModel)]="deliverable.secondaryInitiativeOwner" /> -->
                            <select required class="form-control" [(ngModel)]="deliverable.secondaryInitiativeOwner"
                                name="secondaryInitiativeOwner" id="secondaryInitiativeOwner">
                                <option [ngValue]="">Select a Secondary Initiative Owner</option>
                                <option *ngFor="let secInitiativeOwner of secInitiativeOwners"
                                    [ngValue]="secInitiativeOwner.emailAddress">
                                    {{secInitiativeOwner.name}} {{secInitiativeOwner.surname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-potential-client [pClients]="deliverable" #client>
                            </app-potential-client>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <app-team [members]="deliverable" #team></app-team>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="potentialRevenue">Potential Revenue</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">NGN</span>
                                </div>
                                <input id="potentialRevenue" class="form-control" name="potentialRevenue"
                                    [(ngModel)]="deliverable.potentialRevenue" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="actualRevenue">Actual Revenue</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">NGN</span>
                                </div>
                                <input id="actualRevenue" class="form-control" name="actualRevenue"
                                    [(ngModel)]="deliverable.actualRevenue" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" |
                        localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
</div>
